@page "/accounts/{Id:int}"
@using FinancialDucks.Application.Features
@using FinancialDucks.Application.Models
@using FinancialDucks.Client.Components.AccountsControls
@using MediatR
@inject IMediator Mediator;
@if(_account != null)
{
    <h1>@_account.Name</h1>

    <AccountSnapshots Source="@_account" />
    <ScraperCommands Source="@_account" />
}

@code 
{
    private ITransactionSourceDetail _account;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var sources = await Mediator.Send(new TransactionSourcesFeature.Query());
        _account = sources.FirstOrDefault(s => s.Id == Id);
    }
}
