@page "/"

<div class="col">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            @if (LastTransactionDate != null)
            {
                <h5 class="card-title">Last Transaction Date: @LastTransactionDate.Value.ToShortDateString()</h5>
            }
        </div>
    </div>
</div>