@page "/transactions"
@using FinancialDucks.Client.Components
@using FinancialDucks.Client.Components.SimpleControls

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <h3>Transactions</h3>
        </div>        
    </div>
</div>

<TransactionsFilterToolbar CurrentFilter="CurrentFilter" OnFilterChanged="(t) => CurrentFilter=t" />

<TransactionsList Filter="CurrentFilter" OnTransactionMouseUp="OnTransactionMouseUp" />

<CategoryQuickAdd Text="@SelectedText" Transaction="@SelectedTransaction" />
