@page "/transactions"
@using FinancialDucks.Client.Components
@using FinancialDucks.Client.Components.SimpleControls

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <h3>Transactions</h3>
        </div>
        <div class="col">
           <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <button type="button" class="dropdown-item" @onclick="ShowTransactionImportDialog">Load from Disk</button>
                </li>
              </ul>
            </div>   
        </div>
    </div>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
    <div class="input-group pe-3">
        <div class="input-group-text">Filter</div>
        <input @bind="TextFilter" type="text" class="form-control" placeholder="" aria-label="Filter" aria-describedby="btnGroupAddon">    
    </div>

    <div class="input-group pe-3">
        <div class="input-group-text">Sources</div>
        <SourceSelector />
    </div>

    <div class="input-group pe-3">
        <div class="input-group-text">From</div>        
        <input type="date" @bind="RangeStart" />
    </div>

    <div class="input-group">
        <div class="input-group-text">To</div>        
        <input type="date" @bind ="RangeEnd" />
    </div>

</div>

<CategoryFilter OnCategorySelected="OnCategorySelected" SelectedCategory="@CategoryFilter" />

<TransactionsList Filter="CurrentFilter" OnTransactionMouseUp="OnTransactionMouseUp" />

<CategoryQuickAdd Text="@SelectedText" Transaction="@SelectedTransaction" AfterCreate="AfterCategoryQuickAdd" />

<TransactionImportDialog ImportRequestTime=@ImportRequestTime />