@using FinancialDucks.Application.Features
@using FinancialDucks.Application.Models
@using MediatR

@if(CategoryRule.SubstringMatch != null)
{
    <p>Description contains 
    <mark>@CategoryRule.SubstringMatch</mark></p>

   <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target=@($"#ConfirmDeleteRulePrompt_{CategoryRule.Id}")>Delete</button>
}

<ConfirmDialog Id=@($"ConfirmDeleteRulePrompt_{CategoryRule.Id}") Message="Are you sure you want to delete this rule?" 
    OnDialogClosed="OnPromptDeleteDialog" />

@code 
{
    [Inject]
    public IMediator Mediator { get; set; }

    [Parameter]
    public ICategoryRule CategoryRule { get; set; }

    public async void OnPromptDeleteDialog(bool confirm)
    {
        if (confirm)
            await Mediator.Send(new CategoryRulesFeature.DeleteCommand(CategoryRule));
    }
}
