@using FinancialDucks.Application.Extensions
@using FinancialDucks.Application.Models
@using FinancialDucks.Application.Models.AppModels
@using FinancialDucks.Application.Services
@inject ICategoryTreeProvider CategoryTreeProvider

<div class="input-group my-3">
    <div class="input-group-text">Category</div>        
    <div class="d-flex bd-highlight">
    @foreach(var categorySelection in CategorySelections)
    {
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" id=@Id type="button" data-bs-toggle="dropdown" aria-expanded="false">
                @if(categorySelection.SelectedChild != null)
                {
                    @categorySelection.SelectedChild.Name
                }
                else
                {
                    <span>All</span>
                }
            </button>
            <ul class="dropdown-menu" aria-labelledby=@Id>
                <li><button type="button" class="dropdown-item" @onclick="()=>SetCategory(categorySelection,null)">All</button></li>
                @foreach (var subcat in categorySelection.Parent.Children)
                {
                    <li><button type="button" class="dropdown-item" @onclick="()=>SetCategory(categorySelection, subcat)">@subcat.Name</button></li>
                }  
                @if(StarredCategories.NotNullOrEmpty())
                {
                    <li class="dropdown-divider"></li>
                    @foreach(var starred in StarredCategories)
                    {
                        <li><button type="button" class="dropdown-item" @onclick="()=>SetCategory(categorySelection, starred)">@starred.Name</button></li>
                    }
                }
            </ul>
        </div>
    }
    </div>
</div>

