@using FinancialDucks.Application.Models
@using FinancialDucks.Application.Models.AppModels



@if(Category.IsSpecialCategory())
{
    <h3>@Category.Name</h3>
}
else 
{
    <div class="input-group mb-3">
      <input class="form-control form-control-lg" type="text" @bind=@Name @bind:event="oninput" />        
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ConfirmDeletePrompt">Delete</button></li>
      </ul>
    </div>
}

@if(IsChangingName)
{
    <div class="btn-group" role="group" aria-label="Save or Cancel">
        <button type="button" class="btn btn-primary" @onclick="UpdateCategoryName">Save</button>
        <button type="button" class="btn btn-primary" @onclick="CancelCategoryName">Cancel</button>
    </div>
}

<ConfirmDialog Id="ConfirmDeletePrompt" Message=@($"Are you sure you want to delete the category \"{Category.Name}\"?") 
    OnDialogClosed="OnPromptDeleteDialog" />

<h4>Rules</h4>
<ul>
    @foreach(var rule in Category.Rules)
    {
        <li><CategoryRuleRow CategoryRule=@rule/></li> 
    }
    <li>
        @if(!AddingRule)
        {
             <button type="button" class="btn btn-primary" lab
                        @onclick="AddRule">Add Rule</button>
        }
        else
        {
           <AddCategoryRuleView Category=@Category OnCategoryRuleCreated="OnCategoryRuleCreated" />
        }

    </li>
</ul>
<h4>Transactions</h4>
<ul>
    @if (DescriptionCounts != null)
    {
        @foreach (var description in DescriptionCounts)
        {
            <li>@description.Description
                <span class="badge bg-info">@description.Count</span> 
            </li>
        }

    }
</ul>
