@using FinancialDucks.Application.Models
@using FinancialDucks.Application.Models.AppModels
<h3>
    @if(Category.IsSpecialCategory())
    {
        @Category.Name
    }
    else 
    {
        <input class="form-control form-control-lg" type="text" @bind=@Name @bind:event="oninput" />        
    }
</h3>
@if(IsChangingName)
{
    <div class="btn-group" role="group" aria-label="Save or Cancel">
        <button type="button" class="btn btn-primary" @onclick="UpdateCategoryName">Save</button>
        <button type="button" class="btn btn-primary" @onclick="CancelCategoryName">Cancel</button>
    </div>
}

<h4>Rules</h4>
<ul>
    @foreach(var rule in Category.Rules)
    {
        <li><CategoryRuleRow CategoryRule=@rule/></li> 
    }
    <li>
        @if(!AddingRule)
        {
             <button type="button" class="btn btn-primary" lab
                        @onclick="AddRule">Add Rule</button>
        }
        else
        {
           <AddCategoryRuleView Category=@Category OnCategoryRuleCreated="OnCategoryRuleCreated" />
        }

    </li>
</ul>
<h4>Transactions</h4>
<ul>
    @if (DescriptionCounts != null)
    {
        @foreach (var description in DescriptionCounts)
        {
            <li>@description.Description
                <span class="badge bg-info">@description.Count</span> 
            </li>
        }

    }
</ul>
