@using FinancialDucks.Application.Models
@using static FinancialDucks.Application.Features.CategoriesFeature
@**@
<li>
    <button  
        type="button"
        data-bs-toggle="collapse" 
        data-bs-target="#children_@Id"
        @onclick="Category_Clicked">
        @Category.Name
        @if (!NumTransactions.HasValue)
        {
            <span class="badge bg-secondary">...</span> 
            <span class="badge bg-secondary">...</span>
        }
        else
        {
            <span class="badge bg-secondary">@NumTransactions</span> 
            <span class="badge bg-secondary">@DollarTotal.Value.ToString("C")</span>
        }
    </button> 
 
    <ul id="children_@Id" class="collapse">
        <li>
            <div class="input-group mb-3">
                <input @bind=NewCategoryText type="text" class="form-control" aria-label="New Category Name">
                <div class="input-group-append">
                <button type="button" class="btn btn-primary"
                    @onclick="NewButton_Clicked">+</button>
                </div>
            </div>   
        </li>
        @foreach (var child in Category.Children)
        {
            <li>
                <CategoryTreeNode Category=child NewButtonClick=@NewButtonClick CategorySelected=@CategorySelected/>
            </li>
        }          
        
    </ul>  
    
    
</li>