@using FinancialDucks.Application.Models
<h3>@Category.Name</h3>

<h4>Rules</h4>
<ul>
    @foreach(var rule in Category.Rules)
    {
        <li><CategoryRuleRow CategoryRule=@rule/></li> 
    }
    <li>
        @if(!AddingRule)
        {
             <button type="button" class="btn btn-primary" lab
                        @onclick="AddRule">Add Rule</button>
        }
        else
        {
           <AddCategoryRuleView Category=@Category />
        }

    </li>
</ul>

@code 
{
    [Parameter]
    public ICategoryDetail Category { get; set; }

    public bool AddingRule { get; set; }

    protected override void OnInitialized()
    {
        AddingRule = false;
    }

    public void AddRule()
    {
        AddingRule = true;
    }
}
