@using FinancialDucks.Application.Extensions
<h3>Scraper Commands</h3>
<table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Command</th>
        <th scope="col">Selector</th>
        <th scope="col">Text Search</th>
        <th scope="col">Wait for Navigate</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var command in Commands)
    {
        <tr>
            <td>@command.Sequence</td>
            <td>@command.TypeId.ToString().AddSpacesAtCapitals()</td>
            <td>@command.Selector</td>
            <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" @bind=command.SearchInnerText>
                </div>
            </td>
            <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" @bind=command.WaitForNavigate>
                </div>
            </td>
        </tr> 
    }
          
  </tbody>
</table>
